@media (max-width: 450px) {
  .bannerDetail h1 {
    font-size: 5rem;
    letter-spacing: 16px;
    line-height: 80px;
  }
  .bannerDetail p {
    font-size: 0.9rem;
  }
  .artistPersons {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .heading2 {
    font-size: 30px;
  }
  .bannerDetail h1 {
    font-size: 3rem;
    letter-spacing: 10px;
    line-height: 80px;
  }
  .bannerDetail p {
    font-size: 0.9rem;
  }

  /* === artist ==== */
  .artistPersons {
    flex-wrap: wrap;
    gap: 20px;
  }
  .img-card {
    position: relative;
    width: 100%;
  }
  /* === artist ==== */

  /* ====== contact ====== */
  .contactDetail {
    flex-direction: column;
    gap: 50px;
  }
  .submit {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .bannerDetail h1 {
    font-size: 3.4rem;
    letter-spacing: 10px;
    line-height: 80px;
  }
  .bannerDetail p {
    font-size: 0.9rem;
  }
}
@media (max-width: 1199px) {
  .bannerDetail h1 {
    font-size: 4.5rem;
    letter-spacing: 10px;
    line-height: 80px;
  }
  .bannerDetail p {
    font-size: 0.9rem;
  }

  .ticketBtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .eventBtn {
    padding: 15px 40px;
  }
  .eventBtn2 {
    padding: 15px 40px;
  }
}
